/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {font-family:"Hero";src:url("Font-Hero/Hero.eot?") format("eot"),url("Font-Hero/Hero.woff") format("woff"),url("Font-Hero/Hero.ttf") format("truetype"),url("Font-Hero/Hero.svg#Hero") format("svg");font-weight:normal;font-style:normal;}

body {
    margin: 0;
}

/*
    HEADER
*************************************************************************/
ul {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
    margin-top: 8px;
}

li {
    display: inline;
    margin-left: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

header {  
    background-color: #1F2937;
    color: #e5e7eb;
}
.header-top {
    height: 150px;
}

.header-top {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: hero;
}

header div span {
    margin-top: 8px;
    font-size: 24px;
    color: #f9faf8;
}

.header-body {
    display: flex;
    width: 70%;
    height: 450px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-family: hero, sans-serif;
    padding: 8px 18px;
    border-radius: 8%;
    border: 0;
}

.header-body-left h1 {
    margin: 0;
    padding: 0;
    color: #f9faf8;
    font-family: hero, sans-serif;
    font-weight: 900;
    font-size: 48px;
}

/*
    MAIN   
***************************************************************************/

main {
    background-color: #e4e7eb;
    font-family: Helvetica, sans-serif;
}

h2.information {
    margin: 40px 0;
    padding: 0;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.box {
    width: 145px;
}

.box div {
    border: 2px solid blue;
    border-radius: 15%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.boxes-streap {
    height: 400px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

/****** quotation ********/

.quote {
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;
    background-color: #e4e7eb;
    width: 700px;
    margin: 0 auto;
}

.signature {
    font-size: 18px;
    font-weight: 700;
    text-align: right;
    margin-left: 65%;
}


/****** the bottom band ******/

.band {
    width: 60%;
    margin: 200px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882f6;
    color: white;
}

.band button {
    border: 2px solid white;
}

/**
    FOOTER
**********************************************************/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    height: 60px;
    
}